body,p,form,img,section,h1,h2,h3,h4,figure,ul{
    margin: 0;
    padding: 0;
}
a{
    text-decoration: none;
}
ul{
    list-style: none;
}
input{
    appearance: none;
    -moz-appearance: none;
    -webkit-appearance: none;
}