/**
* CONTENTS
*
* SETTINGS
* Global................Variables and fonts.
*
* BASE
* Headings..............H1 - H6 Styles.
*
* OBJECTS
* Wrappers..............Wrapping and constraining elements.
* 
* COMPONENTS
* Page-head.............The main page header.
* Page-foot.............The main page footer.
* Buttons...............Button elements.
*/

/*------------------------------------*\
  #Global
\*------------------------------------*/


/*---color---*/

:root {
    --colorPrimary: #0065fc;
    --colorSecondary: #DEEBFF;
    --backColor: #F2F2F2;
    --threeColor: #1D1C1C;
    --fourColor: #fff;
    --shadow: #1D1C1C30;
  }

/* fonts */
body{
    font-family: 'Raleway', sans-serif;
}
/*------------------------------------*\
  #BASE
\*------------------------------------*/

/*---Page-Head---*/



/*------------------------------------*\
  #OBJECTS
\*------------------------------------*/

/*---Wrappers---*/
.header__container, .nav, .form{
    display: flex;
}
.form{
    justify-content: center;
}
.header__container, .nav{
    align-items: center;
    justify-content: space-around;
}
.search, .accommodation, .activities{
    padding: 1rem 1rem;
}
.layout{
    display: flex;
    flex-direction: column-reverse;
}
/*------------------------------------*\
  #COMPONENTS
\*------------------------------------*/

/*---Page-Head---*/

nav{
    border-bottom: 0.15rem solid var(--backColor);
}
.nav__link:nth-child(3){
    display: none;
}
.nav__link--header{
    color: var(--colorPrimary);
    font-weight: bold;
}
.nav__link{
    color: var(--threeColor);
    padding: 0.75rem 1.25rem;
}
    .nav__link:nth-child(3n){
        color: var(--colorPrimary);
        font-weight: bold;
    }
        .nav__link:active, .nav__link:hover{
            color: var(--colorPrimary);
            font-weight: bold;
        }

/* Form search */
.search__subheading{
    line-height: 2.5rem;
}

.form{
    margin: 1.5rem 0 2rem 0;
}
    .form__icon{
        position: relative;
        left: 0.5rem;
        background-color: var(--backColor);
        padding: 1rem;
        border: 1px solid var(--backColor);
        border-radius: 0.5rem 0 0 0.5rem;
    }
    .form__input{
        border: 1px solid var(--backColor);
        padding: 1rem;
    }
        .form__input--search{
            width: 100%;
        }
        .form__input--search::placeholder{
            font-weight: bold;
            font-size: 1rem;
            color: var(--threeColor);
        }
        .form__input--btn{
            display: none;
        }
        .form__input--mobile{
            background-color: var(--colorPrimary);
            border-color: var(--colorPrimary);
            border-radius: 0.5rem;
            position: relative;
            right: 1rem;
            color: var(--fourColor);
            font-weight: bold;
            cursor: pointer;
        }
/* Form Favory */
.form__filters {
    align-items: center;
    display: flex;
    flex-wrap: wrap;
}
    .form__filters--text{
        font-weight: bold;
        margin: 0 1.5rem 0 0;
    }
    .form__filters--btn{
        margin: 0.5rem 1rem;
    }
    
    .form__filters--icon{
        color: var(--colorPrimary);
        background-color: var(--colorSecondary);
        padding: 1rem;
        border-radius: 100%;
        position: relative;
        right: 0.5vh;
        transition: all 400ms ease;
    }
        .form__filters--label{
            border: 0.25rem solid var(--backColor);
            border-radius: 1.5rem;
            padding: 0.75rem 0.5rem 0.75rem 0rem;
            font-weight: bold;
            transition: all 400ms ease;
        }
        .form__filters--label:hover{
            border-color: var(--colorPrimary);
            cursor: pointer;
        }
        .form__filters--label:hover > i{
            background-color: var(--colorPrimary);
            color: var(--colorSecondary);
        }
        #economy:checked ~ .form__filters--label, 
        #family:checked ~ .form__filters--label, 
        #romantique:checked ~ .form__filters--label,
        #animals:checked ~ .form__filters--label{
            border-color: var(--colorPrimary);
        }
        #economy:checked ~ .form__filters--label, 
        #family:checked ~ .form__filters--label, 
        #romantique:checked ~ .form__filters--label,
        #animals:checked ~ .form__filters--label{
            background-color: var(--colorPrimary);
            color: var(--colorSecondary);
            transform-origin: left;
        }
        #economy:checked ~ .form__filters--label > i,
        #family:checked ~ .form__filters--label > i,
        #romantique:checked ~ .form__filters--label > i,
        #animals:checked ~ .form__filters--label > i{
            background-color: var(--colorPrimary);
            color: var(--colorSecondary);
        }
        .form__filters--checkbox{
            display: none;
        }

.form__info{
    margin: 1rem 0;
}
.form__info > i{
    color: var(--colorPrimary);
    padding: 0.5rem 0.75rem;
    margin: 0 1rem 0 0;
    border: 0.15rem solid var(--backColor);
    border-radius: 100%;
}
/* ACCOMODATION */

.accommodation__heading{
    padding: 0 0 1.5rem 0;
}
.accommodation__card{
    display: block;
    margin: 1rem 0;
    padding: 0.5rem;
    border-radius: 1rem;
    background-color: var(--fourColor);
    box-shadow: 6px 6px 10px var(--shadow);
    transition: box-shadow 400ms ease, transform 400ms ease;
}
.accommodation__card:hover{
    box-shadow: 4px 4px 8px var(--shadow);
    transform: scale(1.05);
}
    .accommodation__card--figure > img{
        width: 100%;
        height: 9.5rem;
        border-radius: 1rem 1rem 0 0;
        object-fit: cover;
    }
    figcaption{
        line-height: 1.5rem;
        color: var(--threeColor);
    }
    figcaption > i{
        color: var(--backColor);
    }
    .accommodation__card--color{
        color: var(--colorPrimary);
    }
.accommodation__link{
    color: var(--threeColor);
    font-weight: bold;
}
/* POPULAR */
.popular{
    background-color: var(--backColor);
    padding: 0 0 1rem 0;
}

.popular__heading{
    padding: 2rem 0.5rem 1rem 0.5rem;
    margin: 0.5rem;
    display: flex;
    justify-content: space-between;
}
.popular__card{
    display: flex;
    padding: 0.5rem;
    margin: 1rem;
    border-radius: 1rem;
    background-color: var(--fourColor);
    box-shadow: 4px 4px 5px var(--shadow);
    transition: box-shadow 400ms ease, transform 400ms ease;
}
.popular__card:hover{
    box-shadow: 4px 4px 8px var(--shadow);
    transform: scale(1.05);
}
    .popular__card > figure{
        display: inherit;
    }
    .popular__card > figure > img{
        width: 40%;
        height: 9.5rem;
        border-radius: 1rem 0 0 1rem ;
        object-fit: cover;
    }
    .popular__card > figure > figcaption{
        padding: 1rem;
    }
    .popular__card--color{
        color: var(--colorPrimary);
    }
    /* ACTIVITIES */

.activities__heading{
    padding: 1.75rem 0;
}
.activities__card{
    box-shadow: 6px 6px 10px var(--shadow);
    display: block;
    border-radius: 1rem;
    margin: 1.5rem 0;
    transition: box-shadow 400ms ease, transform 400ms ease;
}
.activities__card:hover{
    box-shadow: 4px 4px 8px var(--shadow);
    transform: scale(1.05);
}
.activities__card > figure{
    height: fit-content;
}
.activities__card > figure > figcaption{
    font-weight: bold;
    padding: 1rem;
}
.activities__card > figure > img{
    width: 100%;
    height: 22vh;
    object-fit: cover;
    border-radius: 1rem 1rem 0 0;
}
/* FOOTER */

footer{
    background-color: var(--backColor);
    padding: 3rem 0rem 0rem 0rem;
}
footer > ul{
    padding: 1rem;
}
.footer__list--link{
    color: var(--threeColor);
    line-height: 1.5rem;
}
.footer__list--heading{
    padding: 0 0 1rem 0;
}