/**
* CONTENTS
*
* SETTINGS
* Global................Variables and fonts.
*
* BASE
* Headings..............H1 - H6 Styles.
*
* OBJECTS
* Wrappers..............Wrapping and constraining elements.
* 
* SECTION
* 
* nav
* form-search
* form-favory
* accomodation
* popular
* activities
* footer
* 
*/

/*------------------------------------*\
  #Global
\*------------------------------------*/
/* fonts */
body{
    font-family: 'Raleway', sans-serif;
}
/*------------------------------------*\
  #BASE
\*------------------------------------*/

/*---Page-Head---*/



/*------------------------------------*\
  #OBJECTS
\*------------------------------------*/

/*---Wrappers---*/
.header__container, .nav, .form{
    display: flex;
}
.form{
    justify-content: center;
}
.header__container, .nav{
    align-items: center;
    justify-content: space-around;
}
.search, .accommodation, .activities{
    padding: 1rem 1rem;
}
.layout{
    display: flex;
    flex-direction: column-reverse;
}
/*------------------------------------*\
  #section
\*------------------------------------*/

/*---nav---*/

.nav__link:nth-child(3){
    display: none;
}
.nav__link--header{
    color: #0065fc;
    font-weight: bold;
}
.nav__link{
    color: #1D1C1C;
    border-bottom: 0.15rem solid #F2F2F2;
    padding: 0.75rem 1.25rem;
    width: 100%;
    text-align: center;
}
    .nav__link:nth-child(1){
        color: #0065fc;
        border-bottom: 0.15rem solid #0065fc;
    }
    .nav__link:nth-child(3){
        color: #0065fc;
        font-weight: bold;
    }
        .nav__link:active, .nav__link:hover{
            color: #0065fc;
            border-bottom: 0.15rem solid #0065fc;
        }

/*---form-search---*/
.search__heading{
    font-weight: bold;
}
.search__subheading{
    line-height: 2.5rem;
}

.form{
    margin: 1.5rem 0 2rem 0;
}
    .form__icon{
        position: relative;
        left: 0.5rem;
        background-color: #F2F2F2;
        padding: 1rem 1.25rem;
        border-radius: 0.5rem 0 0 0.5rem;
    }
    .form__input{
        border: 1px solid #F2F2F2;
        padding: 1rem;
    }
        .form__input--search{
            -webkit-appearance: none;
            appearance: none;
            width: 100%;
        }
        .form__input--search::placeholder{
            font-weight: bold;
            font-size: 1rem;
            color: #1D1C1C;
        }
        .form__input--btn{
            display: none;
        }
        .form__input--mobile{
            background-color: #0065fc;
            border-radius: 0.5rem;
            position: relative;
            right: 1rem;
            color: #fff;
            font-weight: bold;
            cursor: pointer;
        }
/*---form-favory---*/
.form__filters {
    align-items: center;
    display: flex;
    flex-wrap: wrap;
}
    .form__filters--text{
        font-weight: bold;
        margin: 0 9.5rem 0 0;
    }
    .form__filters--btn{
        margin: 0.5rem 0.5rem;
    }
    
    .form__filters--icon{
        color: #0065fc;
        background-color: #DEEBFF;
        padding: 1rem;
        width: 1rem;
        text-align:center;
        border-radius: 100%;
        position: relative;
        right: 0.5vh;
        transition: all 400ms ease;
    }
        .form__filters--label{
            border: 0.15rem solid #F2F2F2;
            border-radius: 1.5rem;
            padding: 0.75rem 1.25rem 0.75rem 0rem;
            font-weight: bold;
            transition: all 400ms ease;
        }
        .form__filters--label:hover{
            border-color: #0065fc;
            cursor: pointer;
        }
        .form__filters--label:hover > i{
            background-color: #0065fc;
            color: #DEEBFF;
        }
        .form__filters--checkbox{
            display: none;
        }

.form__info{
    margin: 1rem 0;
}
.form__info > i{
    color: #0065fc;
    padding: 0.5rem 0.75rem;
    margin: 0 1rem 0 0;
    border: 0.15rem solid #F2F2F2;
    border-radius: 100%;
}
/*---accommodation---*/

.accommodation__heading{
    padding: 0 0 1.5rem 0;
    font-weight: bold;
}
.accommodation__card{
    display: block;
    margin: 1rem 0;
    padding: 0.30rem;
    border-radius: 1rem;
    background-color: #fff;
    box-shadow: 6px 6px 10px #1D1C1C30;
    transition: box-shadow 400ms ease, transform 400ms ease;
}
.accommodation__card:hover{
    box-shadow: 4px 4px 8px #1D1C1C30;
    transform: scale(1.05);
}
    .accommodation__card--figure > img{
        width: 100%;
        height: 9.5rem;
        border-radius: 0.75rem 0.75rem 0 0;
        object-fit: cover;
    }
    figcaption{
        color: #1D1C1C;
        padding: 0 0 0 0.75rem;
    }
    figcaption > i{
        color: #F2F2F2;
    }
    .accommodation__card--color{
        color: #0065fc;
    }
.accommodation__link{
    color: #1D1C1C;
    font-weight: bold;
}
/*---popular---*/
.popular{
    background-color: #F2F2F2;
    padding: 0 0 1rem 0;
}

.popular__heading{
    padding: 2rem 0.5rem 1rem 0.5rem;
    margin: 0.5rem;
    display: flex;
    justify-content: space-between;
    font-weight: bold;
}
.popular__card{
    display: flex;
    padding: 0.30rem;
    margin: 1rem;
    border-radius: 1rem;
    background-color: #fff;
    box-shadow: 4px 4px 5px #1D1C1C30;
    transition: box-shadow 400ms ease, transform 400ms ease;
}
.popular__card:hover{
    box-shadow: 4px 4px 8px #1D1C1C30;
    transform: scale(1.05);
}
    .popular__card > figure{
        display: inherit;
    }
    .popular__card > figure > img{
        width: 40%;
        height: 9.5rem;
        border-radius: 0.75rem 0 0 0.75rem ;
        object-fit: cover;
    }
    .popular__card--color{
        color: #0065fc;
        margin: 3rem 0 0 0;
    }
/*---activities---*/

.activities__heading{
    padding: 1.75rem 0;
    font-weight: bold;
}
.activities__card{
    box-shadow: 6px 6px 10px #1D1C1C30;
    display: block;
    border-radius: 1rem;
    margin: 1.5rem 0;
    transition: box-shadow 400ms ease, transform 400ms ease;
}
.activities__card:hover{
    box-shadow: 4px 4px 8px #1D1C1C30;
    transform: scale(1.05);
}
.activities__card > figure{
    height: fit-content;
}
.activities__card > figure > figcaption{
    font-weight: bold;
    padding: 1rem;
}
.activities__card > figure > img{
    width: 100%;
    height: 22vh;
    object-fit: cover;
    border-radius: 1rem 1rem 0 0;
}
/*---footer---*/

footer{
    background-color: #F2F2F2;
    padding: 3rem 0rem 0rem 0rem;
    line-height: 2rem;
}
footer > ul{
    padding: 1rem;
}
.footer__list--link{
    color: #1D1C1C;
}
.footer__list--heading{
    padding: 0 0 0.5rem 0;
}