/**
* CONTENTS
*
* SETTINGS
* Global................Variables and fonts.
*
* BASE
* Headings..............H1 - H6 Styles.
*
* OBJECTS
* Wrappers..............Wrapping and constraining elements.
* 
* COMPONENTS
* Page-head.............The main page header.
* Page-foot.............The main page footer.
* Buttons...............Button elements.
*/

/*------------------------------------*\
  #Global
\*------------------------------------*/


/*---color---*/

:root {
    --colorPrimary: #0065fc;
    --colorSecondary: #DEEBFF;
    --backColor: #F2F2F2;
    --colorThree: #1D1C1C;
    --fourColor: #fff;
    --shadow: #1D1C1C30;
  }

/* fonts */
body{
    font-family: 'Raleway', sans-serif;
}

/*------------------------------------*\
  #BASE
\*------------------------------------*/

/*---Page-Head---*/



/*------------------------------------*\
  #OBJECTS
\*------------------------------------*/

/*---Wrappers---*/

.form, .form__filters, header, .accommodation__grid, footer{
    display: flex;
}
.form__filters, header, footer{
    flex-wrap: wrap;
}
header, section, ul{
    margin: 0 4rem 3rem 4rem;
}
header{
    justify-content: space-between;
    align-items: center;
    padding: 2rem 0 3rem 0;
}
.accommodation__grid{
    flex-wrap: wrap;
    justify-content: center;
}
.layout{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto;
    gap: 1rem;
}
.accommodation{
    grid-column: 1/3;
}
.footer{
    justify-content: flex-start;
}
/*------------------------------------*\
  #COMPONENTS
\*------------------------------------*/

/*---Page-Head---*/

.nav__link{
    color: var(--colorThree);
    padding: 2.75rem 1.25rem;
}
    .nav__link:nth-child(1){
        color: var(--colorPrimary);
        font-weight: bold;
        border-top: 1rem solid var(--colorPrimary);
    }
    .nav__link:nth-child(3){
        color: var(--colorPrimary);
        font-weight: bold;
    }
        .nav__link:active, .nav__link:hover{
            color: var(--colorPrimary);
            font-weight: bold;
            border-top: 1rem solid var(--colorPrimary);
        }
        .nav__link--header{
            display: none;
        }
/* Form search */
.search__subheading{
    line-height: 2.5rem;
}

.form{
    margin: 1.5rem 0 2rem 0;
}
    .form__icon{
        background-color: var(--backColor);
        padding: 1rem;
        border: 1px solid var(--backColor);
        border-radius: 0.5rem 0 0 0.5rem;
    }
    .form__input{
        border: 1px solid var(--backColor);
        padding: 1rem;
    }
    .form__input--search::placeholder{
        font-weight: bold;
        font-size: 1rem;
        color: var(--threeColor);
    }
    .form__input--mobile{
        display: none;
    }
    .form__input--btn{
        background-color: var(--colorPrimary);
        border-color: var(--colorPrimary);
        border-radius: 0 0.5rem 0.5rem 0;
        color: var(--fourColor);
        font-weight: bold;
        cursor: pointer;
    }

/* Form Favory */
.form__filters {
    align-items: center;
}
    .form__filters--text{
        font-weight: bold;
        margin: 0 1.5rem 0 0;
    }
    .form__filters--btn{
        margin: 0.5rem 1rem;
    }
    
    .form__filters--icon{
        color: var(--colorPrimary);
        background-color: var(--colorSecondary);
        padding: 1rem;
        width: 1rem;
        text-align: center;
        border-radius: 100%;
        position: relative;
        right: 0.5vh;
        transition: all 400ms ease;
    }
        .form__filters--label{
            border: 0.25rem solid var(--backColor);
            border-radius: 1.5rem;
            padding: 0.75rem 0.5rem 0.75rem 0rem;
            font-weight: bold;
            transition: all 400ms ease;
        }
        .form__filters--label:hover{
            border-color: var(--colorPrimary);
            cursor: pointer;
        }
        .form__filters--label:hover > i{
            background-color: var(--colorPrimary);
            color: var(--colorSecondary);
        }
        #economy:checked ~ .form__filters--label, 
        #family:checked ~ .form__filters--label, 
        #romantique:checked ~ .form__filters--label,
        #animals:checked ~ .form__filters--label{
            border-color: var(--colorPrimary);
        }
        #economy:checked ~ .form__filters--label, 
        #family:checked ~ .form__filters--label, 
        #romantique:checked ~ .form__filters--label,
        #animals:checked ~ .form__filters--label{
            background-color: var(--colorPrimary);
            color: var(--colorSecondary);
            transform-origin: left;
        }
        #economy:checked ~ .form__filters--label > i,
        #family:checked ~ .form__filters--label > i,
        #romantique:checked ~ .form__filters--label > i,
        #animals:checked ~ .form__filters--label > i{
            background-color: var(--colorPrimary);
            color: var(--colorSecondary);
        }
        .form__filters--checkbox{
            display: none;
        }

.form__info{
    margin: 1rem 0;
}
.form__info > i{
    color: var(--colorPrimary);
    padding: 0.5rem 0.75rem;
    margin: 0 1rem 0 0;
    border: 0.15rem solid var(--backColor);
    border-radius: 100%;
}

/* ACCOMODATION */

.accommodation{
    background-color: var(--backColor);
    padding: 2.5rem;
    border-radius: 2rem;
}
    .accommodation__heading{
        padding: 0 0 1.5rem 0;
    }
    .accommodation__card{
        display: block;
        width: 18rem;
        padding: 0.5rem;
        margin: 1rem;
        border-radius: 1rem;
        background-color: var(--fourColor);
        box-shadow: 6px 6px 10px var(--shadow);
        transition: box-shadow 400ms ease, transform 400ms ease;
    }
    .accommodation__card:hover{
        box-shadow: 4px 4px 8px var(--shadow);
        transform: scale(1.15);
    }
        .accommodation__card--figure > img{
            width: 100%;
            height: 9.5rem;
            border-radius: 1rem 1rem 0 0;
            object-fit: cover;
        }
        figcaption{
            line-height: 1.5rem;
            color: var(--colorThree);
        }
        figcaption > i{
            color: var(--backColor);
        }
        .accommodation__card--color{
            color: var(--colorPrimary);
        }
    .accommodation__link{
        color: var(--colorThree);
        font-weight: bold;
    }
/* POPULAR */
.popular{
    background-color: var(--backColor);
    padding: 2.5rem;
    border-radius: 2rem;
}
    .popular__heading{
        padding: 0 0 1.5rem 0;
        display: flex;
        justify-content: space-between;
    }
    .popular__card{
        width: 29rem;
        padding: 0.5rem;
        margin: 1rem;
        border-radius: 1rem;
        background-color: var(--fourColor);
        box-shadow: 6px 6px 10px var(--shadow);
        transition: box-shadow 400ms ease, transform 400ms ease;
    }
    .popular__card:hover{
        box-shadow: 4px 4px 8px var(--shadow);
        transform: scale(1.05);
    }
    .popular__card{
        display: flex;
    }
        .popular__card > figure{
            display: inherit;
        }
        .popular__card > figure > img{
            width: 40%;
            height: 9.5rem;
            border-radius: 1rem 0 0 1rem ;
            object-fit: cover;
        }
        .popular__card > figure > figcaption{
            padding: 1rem;
        }
        .popular__card--color{
            color: var(--colorPrimary);
        }
/* ACTIVITIES */

.activities__heading{
    padding: 1.75rem 0;
    
}
.activities__grid{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    column-gap: 3rem;
}
.activities__card{
    box-shadow: 6px 6px 10px var(--shadow);
    display: block;
    border-radius: 1rem;
    transition: box-shadow 400ms ease, transform 400ms ease;
}
.activities__card:hover{
    box-shadow: 4px 4px 8px var(--shadow);
    transform: scale(1.05);
}
.activities__card > figure{
    height: fit-content;
}
.activities__card > figure > figcaption{
    font-weight: bold;
    padding: 1rem;
}
.activities__card > figure > img{
    width: 100%;
    object-fit: cover;
    height: fit-content;
    border-radius: 1rem 1rem 0 0;
}
.card-one > figure >img{
    height: 39vh;
}
.card-two > figure > img{
    height: 12vh;
}
.card-three > figure > img{
    height: 15vh;
}
.card-four > figure > img{
    height: 39vh;
}
.card-five > figure > img{
    height: 12vh;
}
.card-six > figure > img{
    height: 15vh;
}
.activities__container{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
/* FOOTER */

footer{
    background-color: var(--backColor);
    padding: 3rem 0rem 0rem 0rem;
}
footer > ul{
    padding: 0 8rem 0 0;
}
.footer__list--link{
    color: var(--colorThree);
    line-height: 1.5rem;
}
.footer__list--heading{
    padding: 0 0 1rem 0;
}