/**
* CONTENTS
*
* SETTINGS
* Global................Variables and fonts.
*
* Header
* Nav
* MAIN
***
*
*/

/*------------------------------------*\
  #Global
\*------------------------------------*/


/*---color---*/

:root {
    --colorPrimary: #0065fc;
    --colorSecondary: #DEEBFF;
    --backColor: #F2F2F2;
    --threeColor: #1D1C1C;
    --fourColor: #fff;
    --shadow: #1D1C1C30;
  }
/*---Fonts---*/
body{
    font-family: 'Raleway', sans-serif;
}
/*------------------------------------*\
  #Flex-box
\*------------------------------------*/
.form, .form__filters, header, .accommodation__grid, footer, .laytout{
    display: flex;
}
.form__filters, header, footer, .accommodation__grid{
    flex-wrap: wrap;
}
.layout{
    flex-direction: column-reverse;
}
.accommodation__grid{
    justify-content: center;
}
.footer{
    justify-content: flex-start;
}
/*------------------------------------*\
  #Margin and padding
\*------------------------------------*/

/*---margin---*/
section, ul, header{
    margin: 0 1rem 3rem 1rem;
}

/*------------------------------------*\
  #Header
\*------------------------------------*/

header{
    justify-content: space-between;
    align-items: center;
    padding: 0 0 3rem 0;
}
/*------------------------------------*\
  #Nav
\*------------------------------------*/
.nav__link{
    color: var(--threeColor);
    padding: 0.75rem 1.25rem;
}
    .nav__link:nth-child(3n){
        color: var(--colorPrimary);
        font-weight: bold;
    }
    .nav__link:active, .nav__link:hover{
        color: var(--colorPrimary);
        font-weight: bold;
        border-top: 1rem solid var(--colorPrimary);
    }
        .nav__link--header{
            display: none;
        }
/*------------------------------------*\
  #Search and Form
\*------------------------------------*/

/*---Search---*/

.search__subheading{
    line-height: 2.5rem;
}

/*---Form---*/
.form{
    margin: 1.5rem 0 2rem 0;
}
    .form__icon{
        background-color: var(--backColor);
        padding: 1rem;
        border: 1px solid var(--backColor);
        border-radius: 0.5rem 0 0 0.5rem;
    }
    .form__input{
        /*-moz-border-radius: 1px solid var(--backColor);
        -webkit-border-radius: 1px solid var(--backColor);*/
        border: 1px solid var(--backColor);
        padding: 1rem;
    }
    .form__input--mobile{
        display: none;
    }
    .form__input--btn{
        background-color: var(--colorPrimary);
        border-color: var(--colorPrimary);
        border-radius: 0 0.5rem 0.5rem 0;
        color: var(--fourColor);
        font-weight: bold;
        cursor: pointer;
    }
    .form__filters {
        align-items: center;
    }
        .form__filters--text{
            font-weight: bold;
            margin: 0 1.5rem 0 0;
        }
        .form__filters--btn{
            margin: 0.5rem 1rem;
        }
        
        .form__filters--icon{
            color: var(--colorPrimary);
            background-color: var(--colorSecondary);
            padding: 1rem;
            border-radius: 100%;
            position: relative;
            right: 0.5vh;
            transition: all 400ms ease;
        }
        .form__filters--label{
            border: 0.25rem solid var(--backColor);
            border-radius: 1.5rem;
            padding: 0.75rem 0.5rem 0.75rem 0rem;
            font-weight: bold;
            transition: all 400ms ease;
        }
        .form__filters--label:hover{
            border-color: var(--colorPrimary);
            cursor: pointer;
        }
        .form__filters--label:hover > i{
            background-color: var(--colorPrimary);
            color: var(--colorSecondary);
        }
        #economy:checked ~ .form__filters--label, 
        #family:checked ~ .form__filters--label, 
        #romantique:checked ~ .form__filters--label,
        #animals:checked ~ .form__filters--label{
            border-color: var(--colorPrimary);
        }
        #economy:checked ~ .form__filters--label, 
        #family:checked ~ .form__filters--label, 
        #romantique:checked ~ .form__filters--label,
        #animals:checked ~ .form__filters--label{
            background-color: var(--colorPrimary);
            color: var(--colorSecondary);
            transform-origin: left;
        }
        #economy:checked ~ .form__filters--label > i,
        #family:checked ~ .form__filters--label > i,
        #romantique:checked ~ .form__filters--label > i,
        #animals:checked ~ .form__filters--label > i{
            background-color: var(--colorPrimary);
            color: var(--colorSecondary);
        }
        .form__filters--checkbox{
            display: none;
        }

.form__info{
    margin: 1rem 0;
}
.form__info > i{
    color: var(--colorPrimary);
    padding: 0.5rem 0.75rem;
    margin: 0 1rem 0 0;
    border: 0.15rem solid var(--backColor);
    border-radius: 100%;
}
/*------------------------------------*\
  #Accomodation
\*------------------------------------*/
.accommodation{
    background-color: var(--backColor);
    padding: 2.5rem;
    margin: 1rem 0;
    border-radius: 2rem;
}
    .accommodation__grid{
        margin: 0 0 2rem 0;
    }
    .accommodation__heading{
        padding: 0 0 1.5rem 0;
    }
    .accommodation__card{
        display: block;
        width: 19rem;
        padding: 0.5rem;
        margin: 1rem;
        border-radius: 1rem;
        background-color: var(--fourColor);
        box-shadow: 6px 6px 10px var(--shadow);
    }
        .accommodation__card--figure > img{
            width: 100%;
            height: 9.5rem;
            border-radius: 1rem 1rem 0 0;
            object-fit: cover;
        }
        figcaption{
            line-height: 1.5rem;
            color: var(--threeColor);
        }
        figcaption > i{
            color: var(--backColor);
        }
        .accommodation__card--color{
            color: var(--colorPrimary);
        }
    .accommodation__link{
        color: var(--threeColor);
        font-weight: bold;
    }
/*------------------------------------*\
  #Popular
\*------------------------------------*/
.popular{
    background-color: var(--backColor);
    padding: 2.5rem;
    border-radius: 2rem;
}
.popular__container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
    .popular__heading{
        padding: 0 0 1.5rem 0;
    }
    .popular__card{
        width: 29rem;
        padding: 0.5rem;
        margin: 1rem;
        border-radius: 1rem;
        background-color: var(--fourColor);
        box-shadow: 6px 6px 10px var(--shadow);
    }
    .popular__card{
        display: flex;
    }
        .popular__card > figure{
            display: inherit;
        }
        .popular__card > figure > img{
            width: 40%;
            height: 9.5rem;
            border-radius: 1rem 0 0 1rem ;
            object-fit: cover;
        }
        .popular__card > figure > figcaption{
            padding: 1rem;
        }
        .popular__card--color{
            color: var(--colorPrimary);
        }
/*------------------------------------*\
  #Activities
\*------------------------------------*/
.activities__heading{
    padding: 1.75rem 0;
}
.activities__grid{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 3rem;
    row-gap: 3rem;
}
.activities__container:nth-child(4){
    grid-column: 1;
    grid-row: 2;
}
@media screen and (max-width: 720px){
    .activities__grid{
        display: grid;
    }
    .activities__card{
        margin: 1.5rem 0;
    }
}
.activities__card{
    box-shadow: 6px 6px 10px var(--shadow);
    display: block;
    border-radius: 1rem;    
}
.activities__card > figure{
    height: fit-content;
}
.activities__card > figure > figcaption{
    font-weight: bold;
    padding: 1rem;
}
.activities__card > figure > img{
    width: 100%;
    object-fit: cover;
    height: fit-content;
    border-radius: 1rem 1rem 0 0;
}
.card-one > figure >img{
    height: 39vh;
}
.card-two > figure > img{
    height: 12vh;
}
.card-three > figure > img{
    height: 15vh;
}
.card-four > figure > img{
    height: 39vh;
}
.card-five > figure > img{
    height: 12vh;
}
.card-six > figure > img{
    height: 15vh;
}
.activities__container{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
/*------------------------------------*\
  #Footer
\*------------------------------------*/
footer{
    background-color: var(--backColor);
    padding: 3rem 0rem 0rem 0rem;
}
    footer > ul{
        padding: 0 8rem 0 0;
    }
    .footer__list--link{
        color: var(--threeColor);
        line-height: 1.5rem;
    }
    .footer__list--heading{
        padding: 0 0 1rem 0;
    }