/**
* CONTENTS
*
* SETTINGS
* Global................Variables and fonts.
*
* BASE
* Headings..............H1 - H6 Styles.
*
* OBJECTS
* Wrappers..............Wrapping and constraining elements.
* 
* SECTION
* 
* nav
* form-search
* form-favory
* accomodation
* popular
* activities
* footer
* 
*/

/*------------------------------------*\
  #Global
\*------------------------------------*/

/*---Fonts---*/
body{
    font-family: 'Raleway', sans-serif;
}
/*------------------------------------*\
  #BASE
\*------------------------------------*/

/*---Page-Head---*/


/*------------------------------------*\
  #Flex-box
\*------------------------------------*/
.form, .form__filters, header, .accommodation__grid, footer, .layout{
    display: flex;
}
.form__filters, header, footer, .accommodation__grid{
    flex-wrap: wrap;
}
.layout{
    flex-direction: column-reverse;
}
.accommodation__grid{
    justify-content: center;
}
.footer{
    justify-content: flex-start;
}
/*------------------------------------*\
  #Margin and padding
\*------------------------------------*/

/*---margin---*/
section, ul, header{
    margin: 0 1rem 3rem 1rem;
}

/*------------------------------------*\
  #Header
\*------------------------------------*/

header{
    justify-content: space-between;
    align-items: center;
    padding: 0 0 3rem 0;
}
/*------------------------------------*\
  #section
\*------------------------------------*/

/*---nav---*/
.nav__link{
    color: #1D1C1C;
    padding: 0.75rem 1.25rem;
}
    .nav__link:nth-child(1){
    color: #0065fc;
    border-top: 1rem solid #0065fc;
}
    .nav__link:nth-child(3){
        color: #0065fc;
        font-weight: bold;
    }
    .nav__link:active, .nav__link:hover{
        color: #0065fc;
        border-top: 1rem solid #0065fc;
    }
        .nav__link--header{
            display: none;
        }
/*------------------------------------*\
  #Search and Form
\*------------------------------------*/

/*---Form-search---*/
.search__heading{
    font-weight: bold;
}

.search__subheading{
    line-height: 2.5rem;
}
.form{
    margin: 1.5rem 0 2rem 0;
}
    .form__icon{
        background-color: #F2F2F2;
        padding: 1rem 1.25rem;
        border-radius: 0.5rem 0 0 0.5rem;
    }
    .form__input{
        border: 1px solid #F2F2F2;
        padding: 1rem;
    }
    .form__input--search::placeholder{
        font-weight: bold;
        font-size: 1rem;
        color: #1D1C1C;
    }
    .form__input--mobile{
        display: none;
    }
    .form__input--btn{
        background-color: #0065fc;
        font-size: 1rem;
        border-radius: 0 0.5rem 0.5rem 0;
        color: #fff;
        font-weight: bold;
        cursor: pointer;
    }

/*---form-favory---*/

.form__filters {
    align-items: center;
}
    .form__filters--text{
        font-weight: bold;
        margin: 0 1.5rem 0 0;
    }
    .form__filters--btn{
        margin: 0.5rem 1rem;
    }
    
    .form__filters--icon{
        color: #0065fc;
        background-color: #DEEBFF;
        padding: 1rem;
        width: 1rem;
        text-align: center;
        border-radius: 100%;
        position: relative;
        right: 0.5vh;
        transition: all 400ms ease;
    }
    .form__filters--label{
        border: 0.15rem solid #F2F2F2;
        border-radius: 1.5rem;
        padding: 0.75rem 1.25rem 0.75rem 0rem;
        font-weight: bold;
        transition: all 400ms ease;
    }
    .form__filters--label:hover{
        border-color: #0065fc;
        cursor: pointer;
    }
    .form__filters--label:hover > i{
        background-color: #0065fc;
        color: #DEEBFF;
    }
    .form__filters--checkbox{
        display: none;
    }

.form__info{
    margin: 1rem 0;
}
.form__info > i{
    color: #0065fc;
    padding: 0.5rem 0.75rem;
    margin: 0 1rem 0 0;
    border: 0.15rem solid #F2F2F2;
    border-radius: 100%;
}
/*---accomodation---*/
.accommodation{
    background-color: #F2F2F2;
    padding:  2rem 0rem;
    margin: 1rem 0;
    border-radius: 2rem;
}
    .accommodation__grid{
        margin: 0 0 2rem 0;
        padding: 0rem 0rem 1.5rem 0;
    }
    .accommodation__heading{
        padding: 1.5rem 2.5rem;
        font-weight: bold;
    }
    .accommodation__card{
        display: block;
        width: 19rem;
        padding: 0.30rem;
        margin: 1rem;
        border-radius: 1rem;
        background-color: #fff;
        box-shadow: 6px 6px 10px #1D1C1C30;
        transition: box-shadow 400ms ease, transform 400ms ease;
    }
    .accommodation__card:hover{
        box-shadow: 4px 4px 8px #1D1C1C30;
        transform: scale(1.05);
    }
        .accommodation__card--figure > img{
            width: 100%;
            height: 9.5rem;
            border-radius: 0.75rem 0.75rem 0 0;
            object-fit: cover;
        }
        figcaption{
            line-height: 1.5rem;
            color: #1D1C1C;
            padding: 0 0 0 0.75rem;
        }
        figcaption > i{
            color: #F2F2F2;
        }
        .accommodation__card--color{
            color: #0065fc;
        }
    .accommodation__link{
        color: #1D1C1C;
        font-weight: bold;
        padding: 0 0 0rem 2.5rem;
    }
/*---popular---*/
.popular{
    background-color: #F2F2F2;
    padding: 2rem 0;
    border-radius: 2rem;
}
.popular__container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
    .popular__heading {
        padding: 1.5rem 2.5rem;
        display: flex;
        justify-content: space-between;
        font-weight: bold;
    }
    .popular__card{
        display: flex;
        width: 20rem;
        padding: 0.30rem;
        margin: 1rem;
        border-radius: 1rem;
        background-color: #fff;
        box-shadow: 6px 6px 10px #1D1C1C30;
        transition: box-shadow 400ms ease, transform 400ms ease;
    }
    .popular__card:hover{
        box-shadow: 4px 4px 8px #1D1C1C30;
        transform: scale(1.05);
    }
        .popular__card > figure{
            display: inherit;
        }
        .popular__card > figure > img{
            width: 40%;
            height: 9.5rem;
            border-radius: 0.75rem 0 0 0.75rem ;
            object-fit: cover;
        }
        .popular__card > figure > figcaption{
            padding: 1rem;
        }
        .popular__card--color{
            color: #0065fc;
        }
/*---activities---*/
.activities__heading{
    padding: 1.75rem 0;
    font-weight: bold;
}
.activities__grid{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 3rem;
    row-gap: 3rem;
}
.activities__container:nth-child(4){
    grid-column: 1;
    grid-row: 2;
}
@media screen and (max-width: 720px){
    .activities__grid{
        display: grid;
    }
    .activities__card{
        margin: 1.5rem 0;
    }
}
.activities__card{
    box-shadow: 6px 6px 10px #1D1C1C30;
    display: block;
    border-radius: 1rem; 
    transition: box-shadow 400ms ease, transform 400ms ease;   
}
.activities__card:hover{
    box-shadow: 4px 4px 8px #1D1C1C30;
    transform: scale(1.05);
}
.activities__card > figure{
    height: fit-content;
}
.activities__card > figure > figcaption{
    font-weight: bold;
    padding: 1rem;
}
.activities__card > figure > img{
    width: 100%;
    object-fit: cover;
    height: fit-content;
    border-radius: 1rem 1rem 0 0;
}
.card-one > figure >img{
    height: 39vh;
}
.card-two > figure > img{
    height: 12vh;
}
.card-three > figure > img{
    height: 15vh;
}
.card-four > figure > img{
    height: 39vh;
}
.card-five > figure > img{
    height: 12vh;
}
.card-six > figure > img{
    height: 15vh;
}
.activities__container{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
/*---footer---*/
footer{
    background-color: #F2F2F2;
    padding: 3rem 0rem 0rem 0rem;
    line-height: 2rem;
}
    footer > ul{
        padding: 0 8rem 0 0;
    }
    .footer__list--link{
        color: #1D1C1C;
    }
    .footer__list--heading{
        padding: 0 0 0.5rem 0;
    }